body {
    background-color: #011F3F;
    text-align: center;
}

.container {
    padding: 5%;
}

.game-text {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    line-height: 1.5;
    color: #FEF2BF;
}

.game-board {
    margin: 5%;
}

.game-row {
    display: flex;
    justify-content: center;
}

.game-button {
    border-radius: 20%;
    width: 200px;
    height: 200px;
    margin: 2%;
    border: 10px solid #000;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}